app = "taxi2012"

primary_region = "ams" # Можно выбрать другую, например fra (Франкфурт)

[build]
image = "ghcr.io/andrey18051/taxi_fly:1.0"

[[services]]
internal_port = 8080
processes = ["app"]

[[services.ports]]
handlers = ["http"]
port = 80

[[services.ports]]
handlers = ["tls", "http"]
port = 443

#flyctl deploy --image ghcr.io/andrey18051/taxi_fly:1.0
