div.btn {
    display: flex;
    justify-content: center;

}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.gradient-button:hover {
    background-position: right center;
}

.gradient {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}

.blockquote-3 {
    position: relative;
    text-align: center;
    margin: 16px 16px 34px 16px;
    border: 4px solid #337AB7;
    border-radius: 20px;
    padding: 16px 24px;
    font-size: 18px;
}
.blockquote-3:before,
.blockquote-3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.blockquote-3:before {
    left: 30px;
    bottom: -32px;
    border: 16px solid;
    border-color: #337AB7 transparent transparent #337AB7;
}
.blockquote-3:after {
    left: 35px;
    bottom: -21px;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
.blockquote-3 cite {
    position: absolute;
    bottom: -28px;
    left: 62px;
    font-size: 15px;
    font-weight: bold;
    color: #337AB7;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 5%;
    -webkit-animation: scroll 50s infinite linear;
    -moz-animation: scroll 50s infinite linear;
    animation: scroll 50s infinite linear;
}
.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}
.but_vart {
    position: absolute;
    margin-top: 70px;
    right: 2px;
    top: 2px;
}

.but_vart_vart {
    position: absolute;
    margin-top: 105px;
    right: 2px;
    top: 2px;
}
