div.btn {
    display: flex;
    justify-content: center;

}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.gradient-button:hover {
    background-position: right center;
}

.animate-fading {

    animation: animate_fading 2s infinite;
    animation-timing-function: linear;
}
.animate-fading:hover {
    animation: none;
}

@keyframes animate_fading {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.1;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.gradient {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
}

.blockquote-3 {
    position: relative;
    text-align: center;
    margin: 16px 16px 34px 16px;
    border: 4px solid #337AB7;
    border-radius: 20px;
    padding: 16px 24px;
    font-size: 18px;
}
.blockquote-3:before,
.blockquote-3:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}
.blockquote-3:before {
    left: 30px;
    bottom: -32px;
    border: 16px solid;
    border-color: #337AB7 transparent transparent #337AB7;
}
.blockquote-3:after {
    left: 35px;
    bottom: -21px;
    border: 12px solid;
    border-color: #fff transparent transparent #fff;
}
.blockquote-3 cite {
    position: absolute;
    bottom: -28px;
    left: 62px;
    font-size: 15px;
    font-weight: bold;
    color: #337AB7;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 5%;
    -webkit-animation: scroll 50s infinite linear;
    -moz-animation: scroll 50s infinite linear;
    animation: scroll 50s infinite linear;
}
.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}
.but_vart {
    position: absolute;
    margin-top: 10px;
    right: 2px;
    top: 2px;
}

.but_vart_vart {
    position: absolute;
    margin-top: 5px;
    right: 2px;
    top: 2px;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great|EB+Garamond);
.older {
    list-style: none;
    margin: 0 auto;
    width: auto;
    counter-reset: li;
}
.older li {
    border-bottom: dashed 1px #006699;
    margin-top: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
}
.older a {
    text-decoration: none;
    padding: 10px;
    display: block;
    line-height: 30px;
    color: #3A3A3A;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
.older a:before {
    display: inline-block;
    content: counter(li);
    counter-increment: li;
    height: 30px;
    width: 30px;
    text-align: center;
    border: solid 1px #dedede;
    margin-right: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
    font-family: 'Fredericka the Great', cursive;
    font-size: 24px;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}
.older a:hover:before {
    color:#D72F2C;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.olderOne {
    list-style: none;
    margin: 0 auto;
    width: auto;
    counter-reset: li;
}
.olderOne li {
    border-bottom: dashed 1px #006699;
    margin-top: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
}
.olderOne a {
    text-decoration: none;
    padding: 10px;
    display: block;
    line-height: 30px;
    color: #3A3A3A;
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
.olderOne a:before {
    display: inline-block;
    /*content: counter(li);
    counter-increment: li;
    height: 30px;*/
    width: 30px;
    text-align: center;
    border: solid 1px #dedede;
    margin-right: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
    font-family: 'Fredericka the Great', cursive;
    font-size: 24px;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}
.olderOne a:hover:before {
    color:#D72F2C;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 200px) {
    .text {font-size: 11px}
}

.header{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}
.header a{
    /*Чтобы ничего не слиплось*/
    padding:8px;
    color: black;
}

.borderElement {
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    width: auto;
    margin-left: 3px;
    margin-top: 2px;
    display: inline;
    text-decoration: none;
}



/* Всплывающее окно
* при загрузке сайта
 */
/* базовый контейнер, фон затемнения*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

/* модальный блок */
.popup {
    top: 25%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
/* заголовки в модальном блоке */
.popup h2, .popup h3 {
    margin: 0 0 1rem 0;
    font-weight: 300;
    line-height: 1.3;
    color: #009032;
    text-shadow: 1px 2px 4px #ddd;
}
/* кнопка закрытия */
.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;

}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/* кнопка закрытия при наведении */
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}
/* изображения в модальном окне */
.popup img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* миниатюры изображений */
.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}
/* миниатюры справа */
.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* миниатюры слева */
.pl-left {
    float: left;
    margin: 5px 18px 5px 0;
}
/* анимация при появлении блоков с содержанием */
@-moz-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1 }
}


.wrapper {
    height: auto;
    width: auto;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    color: white;
    background-color: #d64259;
    top:30px;
    left: 40%;
    animation: fade 6s forwards;
}
@keyframes fade{
    0%{
        transform: translateY(-300px);
    }
    20% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-300px);
    }
}
