[Unit]
Description=LARAVEL Worker Service
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/usr/share/nginx/html/taxi/
Restart=always
RestartSec=3
ExecStart=php artisan queue:work --sleep=3 --tries=3 --timeout=0 --queue=default

[Install]
WantedBy=multi-user.target





