[Unit]
Description=Watch for creation of laravel.log and change permissions
After=network.target

[Service]
ExecStart=/usr/share/nginx/html/laravel_logs/watch_log.sh
Restart=always
RestartSec=10
User=root
Group=root
SyslogIdentifier=watch_log_service

[Install]
WantedBy=multi-user.target
