[Unit]
Description=Laravel Restart Task Service
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/usr/share/nginx/html/public_html/
ExecStart=/usr/bin/php /usr/share/nginx/html/public_html/artisan restart-task:run

[Install]
WantedBy=multi-user.target





