[Unit]
Description=Laravel Restart Task Service
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/html/public_html/
Restart=always
RestartSec=3
ExecStart=php artisan restart-task:run

[Install]
WantedBy=multi-user.target





